/* src/components/SocialLinks.css */
.icon {
    color: #ffffff;  /* Cor desejada, pode ser qualquer cor */
    margin: 0 10px;  /* Espaço entre os ícones */
    transition: color 0.3s ease; 
    margin-top: 0 10px; /* Efeito suave ao passar o mouse */
    cursor: pointer;
  display: inline-block; /* Garante que a área seja só do ícone */
}

.icon:hover {
    color: #999999;  /* Cor quando o mouse passar por cima */
}

a {
    outline: none;
    text-decoration: none;
  }
  
  a:focus,
  a:active {
    outline: none;
    box-shadow: none;
  }
  
  