.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.retangulo {
    width: 90%;
    max-width: 1750px;
    min-height: 850px;
    height: auto;
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: white;
    margin: 20px auto;
}

/* Responsividade para celulares */
@media (max-width: 768px) {
    .retangulo {
        min-height: auto;          /* deixa altura mais flexível */
        padding: 15px;              /* padding menor pra não esmagar */
        border-radius: 10px;        /* cantos mais discretos */
    }
}

.fonte {
    font-size: 24px;  /* Tamanho da fonte */
    color: #000;  /* Cor do texto */
    margin-bottom: 20px;  /* Espaçamento inferior */
}

h1, p {
    margin: 0; /* Remove margens adicionais de p e h1 */
}

h1 {
    margin-top: 150px; /* Movimenta o texto do título para baixo */
}
.foto-container {
    display: flex;
    justify-content: center; /* Centraliza a imagem */
    align-items: center; /* Centraliza a imagem verticalmente */
    background-color: #000; /* Fundo preto ao redor da foto */
    border-radius: 50% / 40%; /* Formato oval */
    width: 300px;
    height: 350px;
    padding: 5px; /* Espaço para a borda */
}

.foto-perfil {
    width: 100%;
    height: 100%;
    border-radius: 50% / 40%; /* Faz a imagem seguir o formato oval */
    object-fit: cover; /* A imagem vai cobrir toda a área sem distorcer */
    border: 3px solid #000; /* Borda preta ao redor da foto */
}
