.header {
    background-color: #232323; /* Laranja mais estiloso */
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    font-size: 30px;
    font-family: serif;
}

.nav-links {
    display: flex;
    gap: 20px;
    margin-right: 50px;
    font-size: 16.5px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #b1b1b1;
    

}