.footer {
    background-color: #232323;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo principal */
}

.footer-content {
    display: flex;
    flex-direction: column; /* Alinha tudo na vertical */
    align-items: center;     /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center;      /* Centraliza o texto */
}

.texto {
    font-size: 15px;
    margin-bottom: 0 10px;
    color: #fff;
}