*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Para garantir que o corpo ocupe toda a altura da tela */
  font-family: sans-serif;
}

.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  height: 100%; /* Faz o container ocupar toda a altura disponível */
  
}

.retangulo {
  width: 90%;
  max-width: 1750px;
  min-height: 850px;
  height: auto;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  color: white;
  margin: 20px auto;
}

/* Responsividade para celulares */
@media (max-width: 768px) {
  .retangulo {
    min-height: auto;          /* deixa altura mais flexível */
    padding: 15px;              /* padding menor pra não esmagar */
    border-radius: 10px;        /* cantos mais discretos */
  }
}



.quadrado, .quadrado2, .quadrado3, .quadrado4, .quadrado5, .quadrado6, .quadrado7 {
  width: 90%;  /* Ajusta a largura para 90% da tela */
  max-width: 550px; /* Define um limite máximo para o tamanho */
  min-height: 350px;
  height: auto;
  background-color: #ff5733;
  margin: 10px 0;  /* Adiciona margem para não grudar nas bordas */
}

@media (max-width: 768px) {
  .quadrado, .quadrado2, .quadrado3, .quadrado4, .quadrado5, .quadrado6, .quadrado7 {
    width: 100%;  /* Para telas menores, ocupa toda a largura */
    max-width: none;  /* Remove o limite máximo de largura */
    min-height: 250px; /* Ajuste para uma altura mínima menor em telas pequenas */
  }
}


.quadrado2 {
  background-color: #33ff57;
}

.quadrado3 {
  background-color: #3357ff;
}

.quadrado4 {
  background-color: #ff33a1;
}

.quadrado5 {
  background-color: #ff33f6;
}

.quadrado6 {
  background-color: #f6ff33;
}
.quadrado7 {
  background-color: #33fff6;
}
